---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.svelte";
import { SITE_TITLE,SITE_DESCRIPTION,SITE_LINKS } from "../consts";
import '@fontsource-variable/noto-sans-thai';

//const { title, description } = Astro.props;
const links = SITE_LINKS
const { pathname } = Astro.url;
const isActive = pathname;
---

<html lang="en">
	<head>
        <script is:inline src="/script/preline.js"></script>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body class="static">
        <Header title={SITE_TITLE} links={links} activeLink={isActive} />
        <slot/>
    </body>
</html>